.status_button {
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 140px;
}
.clean_button {
  background-color: rgb(99, 175, 99);
  color: white;
}
.occupied_button {
  background-color: rgb(255, 108, 108);
  color: white;
}
.checkout_button {
  background-color: orange;
  color: white;
}
