.status_button {
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 140px;
}
.clean_button {
  background-color: rgba(99, 175, 99, 0.5);
  /* font-weight: bold; */
  color: green;
}
.occupied_button {
  background-color: rgba(255, 108, 108, 0.5);
  /* font-weight: bold; */
  color: red;
}
.checkout_button {
  background-color: rgba(255, 166, 0, 0.5);
  /* font-weight: bold; */
  color: rgba(164, 107, 0, 0.626);
}
.search_button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.app_card {
  border: none !important;
  border-radius: 0 !important;
  border-top: 3px solid salmon !important;
}
.dd {
  width: 100% !important;
}
.green {
  background-color: rgb(99, 175, 99);
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.green:hover {
  width: 30px;
}
.red {
  background-color: rgb(255, 108, 108);
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.red:hover {
  width: 30px;
}
.orange {
  background-color: orange;
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.orange:hover {
  width: 30px;
}

.green_td:hover {
  cursor: pointer;
}
.red_td:hover {
  cursor: pointer;
}
.orange_td :hover {
  cursor: pointer;
}
.app_button {
  background-color: rgb(250, 128, 114);
  border: none;
  color: white;
  /* font-weight: bold; */
}
.app_input {
  border-radius: none !important;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 8px;
}
.app_input:focus {
  outline: 1px salmon solid;
  border: none;
}
.app_title {
  color: saddlebrown;
}
label {
  font-size: 12px;
  margin: 0 !important;
}

/* navbar styles */
.navbarr {
  background-color: red;
  width: 100%;
}

.sidebar{
  background-color: salmon;
  height: 100vh;
  
}
.dashboard_card{
  height: 95vh !important;
}