.status_button {
  border: none;
  border-radius: 0;
  padding: 10px;
  /* width: 140px; */
}
.clean_button {
  background-color: rgba(99, 175, 99, 0.5);
  /* font-weight: bold; */
  color: green;
  /* width: 100%; */
}
.occupied_button {
  background-color: rgba(255, 108, 108, 0.5);
  /* font-weight: bold; */
  color: red;
}
.checkout_button {
  background-color: rgba(255, 166, 0, 0.5);
  /* font-weight: bold; */
  color: rgba(164, 107, 0, 0.626);
}
/* .search_button { */
  /* display: flex;
  justify-content: space-between;
  gap: 10px; */
/* } */
.app_card {
  border: none !important;
  border-radius: 0 !important;
  border-top: 3px solid rgb(12, 134, 103) !important;
}
.dd {
  width: 100% !important;
}
.green {
  background-color: rgb(99, 175, 99);
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.green:hover {
  width: 30px;
}
.red {
  background-color: rgb(255, 108, 108);
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.red:hover {
  width: 30px;
}
.orange {
  background-color: orange;
  padding: 5px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}
.orange:hover {
  width: 30px;
}

.green_td:hover {
  cursor: pointer;
}
.red_td:hover {
  cursor: pointer;
}
.orange_td :hover {
  cursor: pointer;
}
.app_button {
  /* background-color: rgb(250, 128, 114); */
  background-color: rgb(12, 134, 103);
  border: none;
  color: white;
  /* font-weight: bold; */
}
.app_input {
  border-radius: none !important;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 8px;
}
.app_input2{
  width: 90%;
  padding: 3px 10px;
  border: none !important;
  border-radius: 8px;
  outline: none;
}
.search{
  padding: 3px 10px;
  margin-left: 50px;
  border-radius: 5px;
  margin-top: -8px;
  width: 100%;
  border: 1px solid rgb(197, 197, 197);
}
.app_input:focus {
  outline: 1px rgb(12, 134, 103) solid;
  border: none;
}
.app_title {
  color: rgb(12, 134, 103);
  /* text-align: center; */
  /* margin-top: 60px; */
}
.app_titleI{
  margin-top: 20px;
  background-color: rgb(12, 134, 103);
  color: #fff;
  padding: 6px 10px;
}
label {
  font-size: 12px;
  margin: 0 !important;
}
.label1{
  margin-top: 20px;
}

/* navbar styles */
.navbarr {
  background-color: red;
  width: 100%;
}

.sidebar {
  /* background-color: salmon; */
  background-color: rgb(12, 134, 103);
  height: 100vh;
}
.dashboard_card {
  height: 90vh !important;
  overflow-y: auto;
}
.link {
  margin-top: 20px;
  width: 111%;
  margin-left: -25px;
}
.link_item {
  text-decoration: none;
  color: #fff;
  list-style: none;
  margin-left: 10px;
  font-size: 15px;
  /* font-weight: 500; */
  /* letter-spacing: 1px; */
  padding: 10px 15px;
  /* transition: all 0.5s; */
  padding-top: 6px;
  cursor: pointer;
}
.link_item:hover {
  background-color: rgb(10, 104, 79);
  color: #fff;
  /* transition: all 0.5s; */
  /* border-right: 5px solid white; */
  width: 100%;
}
.active {
  background-color: rgb(12, 134, 103);
  /* background-color: #b30000; */
  color: #fff;
}
.logo {
  font-size: 23px;
  margin-right: 5px;
  background-color: rgb(5, 85, 65);
  /* border-radius: 5px; */
  padding: 2px;
}
.grp_btn {
  /* width: fit-content; */
  display: flex;
  /* justify-content: flex-end; */
}
.checkout_btn {
  background-color: rgba(255, 166, 0, 0.627);
}
.occupied_btn {
  background-color: rgba(255, 0, 0, 0.623);
}
.cleaned_btn {
  background-color: rgba(0, 128, 0, 0.612);
}

.checkout_btn,
.occupied_btn,
.cleaned_btn {
  color: white;
  border: none;
  font-size: 12px;
}

.inactive {
  background-color: rgb(195, 195, 195);
  font-size: 12px;
  color: white;
  border: none;
}
@media only screen and (max-width: 600px) {
  .customer-page {
    display: none;
  }
  .sidebar_div {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .mobile_menu {
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    /* height: 70px; */
    border-top: 2px solid rgb(10, 104, 79);
    background-color: rgb(12, 134, 103);
    padding-bottom: 10px;
    /* padding: 10px; */
    color: white;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .mobile_menu {
    display: none;
  }
  .reg_card{
    height: 95vh;
  }
}


/* SignIn */

.sign-in-div1{
  /* height: 97.9vh; */
  /* width: 100vw; */
  margin: 0;
  font-family: Footlight MT Light;
  display: grid;
  place-items: center;
  place-content: center;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 15px;
}
.sign-in-div2{
  background-color: #fff;
  color: black;
  border-radius: 15px;
}
.sign-in-div3{
  background-color: rgb(12, 134, 103);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin: auto;
  height: 50px;
  margin-top: -6%;
  margin-bottom: 40px;
  border-radius: 15px;
}
.sign-in-div4{
  display: flex;
  flex-direction: column;
}
.sign-in-input{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  outline: none;
}
.sign-in-para{
  text-align: center;
  width: 80px;
  color: #fff;
  font-weight: bold;
  margin: 2px 20px;
  font-size: 20px;
  padding: 8px;
  height: 45px;
  cursor: pointer;
}
.sign-in-para:hover{
  border-bottom: 2px solid #fff;
}
.border{
  border-bottom: 2px solid #fff;
}
.sign-in-switch{
  margin-left: 20px;
  outline: transparent;
}
.sign-in-label{
  color: #b3b3b3;
  font-weight: bold;
  cursor: pointer;
}
.sign-in-bottom{
  background-color: rgb(12, 134, 103);
  color: #fff;
  margin: 20px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  border: transparent;
  border-radius: 10px;
}
.sign-in-para1{
  color: #b3b3b3;
  text-align: center;
}
.sign-in-href{
  color: rgb(12, 134, 103);
  text-decoration: none;
  font-weight: bold;
}
.sign-in-href:hover{
  color: rgb(12, 134, 103);
}