/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.Label{
  font-size: 15px;
  /* font-weight: 500; */
  margin-top: 10px;
}
.input_field {
  border: none;
  width: 105%;
  margin-left: -8px;
  /* border: 1px solid #002147; */
  /* background-color: rgb(242, 242, 242); */
  margin-top: -14px;
  margin-bottom: -9px;
  border-radius: 5px;
}
.input_form{
  margin-top: -5px;
}

.Label1 {
  font-size: 15px;
  margin-top: 10px;
}
.card_body{
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}
.card_tittle{
  margin-top: 26px;
  font-size: 20px;
}

.card_button,
.card_button1,
.card_button2{
  padding: 6px;
  width: 30%;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.card_button:hover{
  border: 2px solid white;
  outline: 1px solid red;
}
.card_button1:hover{
  border: 2px solid white;
  outline: 1px solid green;
}
.card_button2:hover{
  border: 2px solid white;
  outline: 1px solid orange;
}

.card_button{
  background-color: red;
  margin-right: 8px;
}
.card_button1{
  background-color: green;
  margin-right: 8px;
}
.card_button2{
  background-color: orange;
}